@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light',sans-serif;
}

.section {
  padding: 40px 0;
  text-align: center;
}

.section__title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
  color: #262626;
  font-weight: 700;
  line-height: 1;
  font-size: 24px;
  padding: 40px 0;
  margin: 0;
}

.bg-f1 {
  background-color: #f1f1f1;
}

.bg-fff {
  background-color: #fff;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo__text {
  color: #262626;
  font-family: 'Proxima Nova Semibold',sans-serif;
  text-transform: uppercase;
}

.menu__button {
  height: 80px;
  width: 70px;
  border: none;
  border-right: 1px solid rgba(0, 150, 136, 0.1);
  border-left: 1px solid rgba(0, 150, 136, 0.1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
}

.menu__button__line {
  background: #4285f4;
  width: 30px;
  height: 3px;
  margin-top: 5px;
}

.btn {
  text-transform: uppercase;
  font-size: 13px;
}

/****************************************** */
@media (max-width: 6000px) {
  .header {
    max-height: 80px;
  }
  .logo,
  .navbar__mobile,
  .navbar__lendline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  .navbar {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background: #fff;
    z-index: 10000;
  }
  .navbar a {
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    font-weight: 700;
  }
  .navbar__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__wrap .btn-o {
    padding: 15px 20px;
    border: 2px solid #4285f4;
    color: #4285f4;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
  }
  .bg-grey {
    background-color: #f1f1f1;
  }
  .container__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 90px;
  }
  .container .left .btn {
    background-color: #4285f4;
  }
  .menu__list {
    opacity: 1;
    height: auto;
    background-color: #4285f4;
    margin: 0;
    position: relative;
    top: 0px;
    padding: 0;
    display: none;
  }
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .menu__item {
    list-style: none;
  }
  .menu__item:hover .menu__link, .menu__item.active .menu__link {
    display: block;
    color: #4285f4;
    background: #fff;
    -webkit-box-shadow: inset 2px 1px 5px rgba(63, 81, 181, 0.5), 2px 1px 5px rgba(63, 81, 181, 0.5);
            box-shadow: inset 2px 1px 5px rgba(63, 81, 181, 0.5), 2px 1px 5px rgba(63, 81, 181, 0.5);
  }
  .menu__link {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 700;
    text-decoration: none;
  }
  .logo {
    text-align: right;
  }
  .intro__title {
    font-weight: bold;
    font-size: 40px;
    width: 374px;
    line-height: 40px;
    margin: 50px 0 30px 0;
  }
  .intro__subtitle {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0;
  }
  .btn {
    padding: 20px 45px;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 960px) {
  .menu__list {
    opacity: 0;
    height: auto;
    background-color: #4285f4;
    margin: 0;
    position: relative;
    top: 80px;
    padding: 0;
  }
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .menu__item {
    list-style: none;
    width: 25%;
  }
  .menu__link {
    font-size: 13px;
  }
  .intro__title {
    font-size: 31px;
    width: 306px;
    line-height: 27px;
    margin: 10px 0 30px;
  }
  .intro__subtitle {
    font-size: 30px;
    font-weight: 700;
    margin: 27px 0;
  }
  .btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  .navbar__wrap .btn-o {
    padding: 10px 10px;
    font-size: 14px;
  }
  .intro__title {
    font-weight: bold;
    font-size: 30px;
    width: 253px;
    line-height: 30px;
    margin: 20px 0 30px 0;
  }
  .intro__subtitle {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0;
  }
  .btn {
    padding: 15px 20px;
    font-size: 15px;
  }
  .logo {
    text-align: center;
  }
  .navbar__mobile {
    display: none;
  }
  .navbar__lendline {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo {
    text-align: center;
  }
  .intro__title {
    font-weight: bold;
    font-size: 24px;
    width: 230px;
    line-height: 25px;
    margin: 0px 0 10px 0;
  }
  .intro__subtitle {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
  }
  .btn {
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media (max-width: 533px) {
  .intro__title {
    font-weight: bold;
    font-size: 20px;
    width: 180px;
    line-height: 20px;
    margin: 10px 0;
  }
  .intro__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
  }
  .btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .logo {
    text-align: center;
  }
  .logo__text {
    font-size: 15px;
  }
  .txt-size {
    width: 200px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .navbar__wrap .btn-o {
    padding: 6px 5px;
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .btn-o {
    display: none;
  }
  .intro__title {
    font-weight: bold;
    font-size: 13px;
    width: 110px;
    line-height: 15px;
    margin: 10px 0;
  }
  .intro__subtitle {
    font-size: 13px;
  }
  .btn {
    padding: 5px 5px;
    font-size: 10px;
  }
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .menu__item {
    list-style: none;
    width: 50%;
  }
  .menu__link {
    font-size: 13px;
    padding: 7px;
    border: 1px solid #fff;
  }
}

@media (max-width: 200px) {
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #fff;
  }
}

.bg-grey-2 {
  background-color: #f1f1f1;
  padding-bottom: 80px;
}

.offer__one {
  position: relative;
}

.offer__block, .offer__block-2 {
  width: 85%;
  margin: 0px auto auto;
  padding: 40px 80px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: proxima_novalight,sans-serif;
  color: #262626;
}

.offer__block {
  background: #fff url(../img/offer-01.png) no-repeat center right -50px;
}

.offer__block-2 {
  background: #fff url(../img/offer-02.png) no-repeat center right -50px;
  position: relative;
  top: -160px;
}

.offer__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.offer__sub-title {
  max-width: 560px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group {
  width: 33.33%;
  margin-bottom: 20px;
}

.form__select, .form__input {
  width: 100%;
  height: 50px;
  color: #6b6b6b;
  border: 1px solid #ddd;
  border-right: 0;
}

.form__small-text {
  font-size: 12px;
  margin-left: 10px;
  display: block;
}

.form__select {
  padding-left: 20px;
}

.form__input {
  padding: 0 0 0 20px;
}

.form__input:last-child {
  border: 1px solid #ddd;
}

.form .input_button {
  background: #4285f4;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__group-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.form__group-toggle .form__label {
  display: block;
  margin-bottom: 10px;
  margin-right: 40px;
  padding: 0;
  vertical-align: middle;
}

.form__group-toggle label::before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked + label::before {
  content: '✔';
  text-align: center;
  line-height: 30px;
  color: #4285f4;
  font-size: 24px;
  display: inline-block;
}

@media (max-width: 1024px) {
  .offer__sub-title {
    max-width: 512px;
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .offer__block {
    background: #fff url(../img/offer-01.png) no-repeat center right -70px;
  }
  .offer__block-2 {
    background: #fff url(../img/offer-02.png) no-repeat center right -90px;
  }
}

@media (max-width: 800px) {
  .offer__block {
    width: 95%;
    background: #fff url(../img/offer-01.png) no-repeat center right -120px;
  }
  .offer__block-2 {
    width: 95%;
    background: #fff url(../img/offer-02.png) no-repeat center right -120px;
  }
  .offer__sub-title {
    max-width: 410px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .offer__block {
    width: 95%;
    background: #fff url(../img/offer-01.png) no-repeat center right -150px;
  }
  .offer__block-2 {
    width: 95%;
    background: #fff url(../img/offer-02.png) no-repeat center right -150px;
  }
}

@media (max-width: 600px) {
  .offer__block, .offer__block-2 {
    width: 100%;
    padding: 20px 40px;
    background: #fff;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__group {
    width: 100%;
    margin-bottom: 20px;
  }
  .form__group-toggle {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__group-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 480px) {
  .offer__title {
    font-size: 18px;
    text-align: center;
  }
  .offer .form__group-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer .form__group-toggle {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (max-width: 320px) {
  .offer__title {
    font-size: 15px;
    text-align: left;
  }
  .offer__block, .offer__block-2 {
    padding: 20px 20px;
    background: #fff;
  }
  .offer__block p, .offer__block-2 p {
    font-size: 12px;
    text-align: left;
  }
  .offer .form__group {
    font-size: 12px;
  }
  .offer .form__select, .offer .form__input {
    width: 100%;
    height: 35px;
    padding-left: 5px;
  }
  .offer .form__group-toggle {
    width: 100%;
  }
}

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__item {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  min-height: 200px;
}

.section__item .circle {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: 3px solid #4285f4;
  border-radius: 50%;
  text-align: center;
  background-color: #f1f1f1;
  color: #4285f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__item .fa::before {
  font-size: 45px;
}

.section__item .fa-pencil-ruler::before {
  content: '\f5ae';
}

.section__item .fa-award {
  content: '\f559';
}

.section__item .fa-book-open {
  content: '\f518';
}

.section__item .fa-calendar-alt {
  content: '\f073';
}

.section__item .fa-hotel {
  content: '\f594';
}

.section__item .fa-barcode {
  content: '\f02a';
}

.section__item .text {
  display: block;
  width: 165px;
  font-size: 18px;
  line-height: 1.3em;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .section__item {
    width: 50%;
  }
}

@media (max-width: 360px) {
  .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    min-height: 80px;
  }
  .section__item .circle {
    height: 140px;
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border: 3px solid #4285f4;
    border-radius: 50%;
    text-align: center;
    background-color: #f1f1f1;
    color: #4285f4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__item .fa::before {
    font-size: 55px;
  }
  .section__item .text {
    display: block;
    width: 165px;
    font-size: 16px;
    line-height: 1em;
    margin-top: 10px;
    font-weight: bold;
  }
}

.catalog__watch-block {
  padding-bottom: 40px;
}

.catalog__watch-block .link-watch {
  background-color: #4285f4;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 16px;
}

.catalog__watch-block .link-watch:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #4285f4;
  -webkit-transition: .7s;
  transition: .7s;
}

.catalog__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.catalog__item {
  width: 48%;
  position: relative;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 250px;
  min-height: 100px;
  margin-bottom: 20px;
  overflow: hidden;
}

.catalog__item:hover .catalog__buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  bottom: 0px;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.catalog__tag {
  position: absolute;
  top: 25px;
  left: 15px;
}

.catalog__tag a {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color: #4285f4;
  padding: 10px;
  text-transform: uppercase;
}

.catalog__tag a:hover {
  color: #4285f4;
  background-color: #fff;
}

.catalog__buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  bottom: -50px;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.catalog__buttons-block .link-buttons,
.catalog__buttons-block .fa {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: #4285f4;
  padding: 10px;
  text-transform: uppercase;
}

.catalog__buttons-block .link-buttons {
  border-right: 1px solid #000;
}

.catalog__buttons-block .link-buttons:hover,
.catalog__buttons-block .fa:hover {
  color: #4285f4;
  background-color: #fff;
}

@media (max-width: 1280px) {
  .catalog__item {
    max-height: 250px;
    min-height: 250px;
  }
}

@media (max-width: 960px) {
  .section {
    padding: 0px 0;
  }
  .section__title {
    padding: 30px;
    font-size: 20px;
  }
  .section .catalog__item {
    max-height: 200px;
    min-height: 200px;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 0px 0;
  }
  .section__title {
    padding: 20px;
    font-size: 20px;
  }
  .section .catalog__item {
    width: 90%;
    max-height: 250px;
    min-height: auto;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 0px 0;
  }
  .section__title {
    padding: 20px;
    font-size: 20px;
  }
  .catalog__buttons-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    right: 0;
    position: absolute;
  }
  .catalog__tag {
    position: absolute;
    top: 2px;
    left: 0;
  }
  .catalog__tag a {
    font-size: 12px;
    padding: 5px;
  }
  .catalog .link-buttons,
  .catalog .fa {
    font-size: 12px;
    padding: 5px;
    text-align: center;
  }
}

@media (max-width: 254px) {
  .catalog .link-buttons,
  .catalog .fa,
  .catalog__tag a {
    font-size: 10px;
    padding: 5px;
  }
}

.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog__item {
  width: 23%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.blog__img {
  height: 170px;
}

.blog__link {
  text-decoration: none;
  padding: 30px 0;
  color: #262626;
  font-weight: bold;
  background: #fff;
}

.blog__link:hover {
  color: #fff;
  background: #4285f4;
  -webkit-transition: .5s;
  transition: .5s;
}

.blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 30px 0;
}

.blog__title {
  padding: 0;
  margin: 0;
}

.blog__read-more {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
  position: relative;
}

.blog__read-more::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  -webkit-transition: .3s;
  transition: .3s;
  background: #4285f4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.blog__read-more:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 1080px) {
  .section__blog {
    padding: 40px 0;
  }
  .section .blog__item {
    width: 23%;
  }
  .section .blog__img {
    height: 130px;
  }
}

@media (max-width: 960px) {
  .section .blog__link {
    min-height: 45px;
    padding: 6px 0;
  }
}

@media (max-width: 800px) {
  .section__blog {
    padding: 40px 0;
  }
  .section .blog__item {
    width: 45%;
    margin-bottom: 20px;
  }
  .section .blog__img {
    height: 220px;
  }
  .section .blog__link {
    min-height: auto;
    padding: 15px 0;
  }
}

@media (max-width: 600px) {
  .section__blog {
    padding: 40px 0;
  }
  .section .blog__item {
    width: 90%;
    margin-bottom: 20px;
  }
  .section .blog__img {
    height: auto;
  }
  .section .blog__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .blog__title {
    margin-bottom: 10px;
  }
  .section .blog__read-more {
    max-width: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .section__blog {
    padding: 40px 0;
  }
  .section .blog__item {
    width: 90%;
    margin-bottom: 20px;
  }
  .section .blog__img {
    height: auto;
  }
}

.section .price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .price__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.section .price__value {
  font-weight: bold;
}

.section .price__item {
  margin: 0 6px 25px 6px;
  position: relative;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 23%;
}

.section .price__item:hover .price__btn {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.section .price__img {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 173px;
  width: 100%;
}

.section .price__btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  background: rgba(63, 81, 181, 0.2);
  width: 100%;
  height: 173px;
}

.section .price__btn .btn {
  background-color: #4285f4;
  top: 35%;
  position: relative;
}

@media (max-width: 1080px) {
  .section .price__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .section .price__item {
    margin: 0 6px 25px 6px;
    width: 32%;
  }
  .section .price__img {
    height: 173px;
    width: 100%;
  }
  .section .price__img img {
    width: 100%;
    height: 173px;
  }
}

@media (max-width: 960px) {
  .section .price__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section .price__item {
    margin: 0 6px 25px 6px;
    width: 48%;
  }
  .section .price__img {
    height: 210px;
    width: 100%;
  }
  .section .price__img img {
    width: 100%;
    height: 210px;
  }
  .section .price__btn {
    height: 210px;
  }
}

@media (max-width: 768px) {
  .section .price__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .price__item {
    margin: 0 6px 25px 6px;
    width: 45%;
  }
  .section .price__img {
    height: 173px;
    width: 100%;
  }
  .section .price__img img {
    width: 100%;
    height: 173px;
  }
  .section .price__btn {
    height: 173px;
  }
}

@media (max-width: 600px) {
  .section .price__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .price__item {
    margin: 0 6px 25px 6px;
    width: 90%;
  }
  .section .price__img {
    height: 210px;
    width: 100%;
  }
  .section .price__img img {
    width: 100%;
    height: 100%;
  }
  .section .price__btn {
    height: 100%;
  }
}

.section .stage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
}

.section .stage__line {
  border: 1px dashed #4285f4;
  height: 1px;
  width: 90%;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.section .stage__img {
  margin-bottom: 20px;
  font-size: 45px;
  width: 80px;
  height: 80px;
  line-height: 79px;
  background: #ddd;
  color: #4285f4;
  border: 2px solid #4285f4;
  border-radius: 100%;
  position: relative;
}

.section .stage__title {
  font-size: 18px;
  margin: 0;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.section .stage__point {
  max-width: 170px;
  padding: 0 5px;
  margin: auto;
}

@media (max-width: 800px) {
  .section__stage-work .stage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .section__stage-work .stage__item {
    width: 33%;
  }
  .section__stage-work .stage__line {
    border: none;
  }
}

@media (max-width: 480px) {
  .section__stage-work .stage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .section__stage-work .stage__item {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .section__stage-work .stage__item {
    width: 90%;
  }
}

.section__bottom-block {
  min-height: 320px;
  width: 100%;
}

.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item {
  width: 33%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__text {
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 30px 40px;
  margin: 0 10px;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5em;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.feedback__arrow {
  position: absolute;
  font-size: 50px;
  bottom: -25px;
  left: 45%;
  color: #fff;
}

.feedback__quote::before, .feedback__quote::after {
  color: #4285f4;
  font-size: 17px;
}

.feedback__quote::before {
  content: '“';
  margin-right: 5px;
}

.feedback__quote::after {
  content: '”';
  margin-left: 5px;
}

.feedback__center-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: -151px;
  left: 0;
  right: 0;
}

.feedback__img i {
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 30px;
  margin: 50px 0 20px;
  background: #ddd;
  color: #4285f4;
  border: 2px solid #4285f4;
  border-radius: 100%;
}

.feedback .circle__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 170px 0 0;
}

.feedback .circle__item {
  width: 22px;
  height: 22px;
  display: block;
  margin: 5px;
  border-radius: 50%;
  background: #c0cee4;
  border: 5px solid #ddd;
  list-style: none;
  cursor: pointer;
}

.feedback .circle__item.active {
  border: 5px solid #ccc;
  background: #4285f4;
  width: 22px;
  height: 22px;
  display: block;
  margin: 5px;
  border-radius: 50%;
  list-style: none;
}

@media (max-width: 680px) {
  .feedback__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .feedback__arrow {
    left: 0;
    right: 0;
    position: absolute;
  }
  .feedback__item {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 80px auto 90px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .feedback__list {
    width: 95%;
  }
}

.section__production {
  margin-top: -140px;
}

.production {
  margin-bottom: 40px;
}

.production__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.production__info {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-left: 25px;
  font-size: 20px;
}

.production__info p {
  margin-top: 0;
}

@media (max-width: 800px) {
  .production__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0px;
    font-size: 20px;
    padding: 20px;
  }
  .production__img {
    text-align: center;
  }
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 40px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact__img {
  font-size: 25px;
  margin-bottom: 15px;
  color: #4285f4;
  width: 50px;
  height: 50px;
  line-height: 40px;
  margin: auto;
}

.contact__text, .contact__link {
  font-size: 16px;
  color: #262626;
  text-decoration: none;
}

@media (max-width: 600px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 40px;
  }
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .contact__img {
    font-size: 30px;
    margin-bottom: 15px;
    color: #4285f4;
    width: 50px;
    height: 50px;
    line-height: 40px;
    margin: auto;
  }
  .contact__text, .contact__link {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.guestions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guestions__title {
  font-size: 22px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  margin: 20px 50px 0 0;
  padding: 0;
}

.guestions__link {
  position: relative;
  display: block;
  color: #4285f4;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0 0;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.guestions__link::after {
  content: '';
  bottom: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #4285f4;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.guestions__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 480px) {
  .guestions-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .guestions__title {
    font-size: 22px;
    font-family: 'Proxima Nova Semibold',sans-serif;
    margin: 20px auto auto;
    width: 100%;
    text-align: center;
  }
  .guestions__link {
    text-align: center;
    margin: 0 auto 20px auto;
  }
}
/*# sourceMappingURL=style.css.map */