
.logo__text
	color: #262626
	font-family: 'Proxima Nova Semibold',sans-serif
	text-transform: uppercase

.menu
	&__button
		height: 80px
		width: 70px
		border: none
		border-right: 1px solid rgba(0,150,136,.1)
		border-left: 1px solid rgba(0,150,136,.1)
		cursor: pointer
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		background-color: transparent
	&__button__line
		background: #4285f4
		width: 30px
		height: 3px
		margin-top: 5px


